In [17]:
#Zadání 1:
import pandas
zamestnanci_praha = pandas.read_csv('zam_praha.txt')
zamestnanci_plzen = pandas.read_csv('zam_plzeň.txt')
zamestnanci_liberec = pandas.read_csv('zam_liberec.txt')

zamestnanci_praha['mesto'] = 'Praha'
zamestnanci_plzen['mesto'] = 'Plzeň'
zamestnanci_liberec['mesto'] = 'Liberec'

zamestnanci_celkem = []
zamestnanci_celkem = pandas.concat([zamestnanci_praha, zamestnanci_plzen, zamestnanci_liberec],ignore_index = True)
print(zamestnanci_celkem)

platy_2021 = pandas.read_csv('platy_2021_02.txt')
print(platy_2021)

tabulka_souhrn = pandas.merge(zamestnanci_celkem, platy_2021, on = ['cislo_zamestnance'], how = 'right')

prumerny_plat = tabulka_souhrn.groupby('mesto')['plat'].mean()
print(prumerny_plat)

mesto
Liberec    43775.000000
Plzeň      44792.857143
Praha      43295.238095
Name: plat, dtype: float64

In [19]:
#Zadání 2:
vykazy = pandas.read_csv('vykazy.txt')

print(vykazy.groupby('project').count())

          date  hours project  emloyee_id
0   2021-02-01    2.5     F30          13
1   2021-02-01    3.4     W05          70
2   2021-02-01    2.1     JL9          72
3   2021-02-01    5.2     F30           3
4   2021-02-01    2.4     TE1          54
5   2021-02-01    4.1     TE1          83
6   2021-02-01    5.4     W05          92
7   2021-02-01    2.2     YLI          34
8   2021-02-01    2.7     YLI          84
9   2021-02-01    4.4     W05          30
10  2021-02-02    5.6     F30          53
11  2021-02-02    2.6     W05          47
12  2021-02-02    2.4     YLI          44
13  2021-02-02    3.1     YLI          40
14  2021-02-02    5.3     YLI          10
15  2021-02-02    3.6     YLI          53
16  2021-02-02    5.6     F30          56
17  2021-02-03    4.0     W05          53
18  2021-02-03    4.6     TE1          86
19  2021-02-03    2.6     F30          18
20  2021-02-03    2.8     TE1          47
21  2021-02-03    2.6     YLI          34
22  2021-02-03    3.7     YLI          96
23  2021-02-03    5.2     W05          57
24  2021-02-03    5.5     W05          40
25  2021-02-03    5.4     YLI          86
26  2021-02-03    2.1     TE1          87
         date  hours  emloyee_id
project
F30         5      5           5
JL9         1      1           1
TE1         5      5           5
W05         7      7           7
YLI         9      9           9